{% extends 'base.html' %} {% block content %}
<h1 class="text-white">Contacto</h1>
<h2 class="text-white">Me podes encontrar en los siguientes links:</h2>
<div class="mt-5">
  <div class="mb-3 d-flex justify-content-center align-items-center">
    <i class="fab fa-github fa-2x pe-2"></i>
    <a class="text-white text-decoration-none" href="https://github.com/tinchoz8426" target="_blank"
      >Github</a
    >
  </div>
  <div class="mb-3 d-flex justify-content-center align-items-center">
    <i class="fab fa-linkedin fa-2x pe-2"></i>
    <a
      class="text-white text-decoration-none"
      href="https://www.linkedin.com/in/enzo-martin-zotti/"
      target="_blank"
      >Linkedin</a
    >
  </div>
  <div class="mb-3 d-flex justify-content-center align-items-center">
    <i class="fas fa-mobile-alt fa-2x pe-2"></i>
    <a class="text-white text-decoration-none" href="tel:+5492214987653">Telefono</a>
  </div>
  <div>
    <i class="fas fa-envelope fa-2x pe-2"></i>
    <a class="text-white text-decoration-none" href="mailto:tinchoz8426@gmail.com"
      >Correo electronico</a
    >
  </div>
</div>

{% endblock %}
