{% extends 'base.html' %}

{% block content %}
    <div class="col-md-4 offset-md-4">
        <div class="card card-body" style="background-color: #212529">
            <h2 class="text-white">Contraseña</h2>
            <p style="background-color: #4242428a;" id="myInput" class="text-white">{{password}}</p>
            <button id="button-copy" class="btn btn-primary" onclick="myFunction()">Copiar</button>
            <div id="message-copied">

            </div>
        </div>
    </div>
{% endblock %}